@import "../../../styles/settings.scss";

.root {
  background-color: $background-color;
  margin-top: 40px;

  .footerMenu {
    padding: 15px 0 5px 0;
    display: flex;
    justify-content: center;

    .menuWrapper {
      margin: 0 10%;
      h6 {
        color: $title-color;
        text-transform: uppercase;
        font-family: $title-font;
        font-size: 15px;
        margin: 10px 0;
      }

      ul {
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: 12px;
            line-height: 30px;
            font-family: $text-font;
            font-weight: bolder;
            color: $text-color;
            text-decoration: none;

            &:hover {
              color: $tab-color;
            }
          }
        }
      }
    }
  }

  .bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 5px;

    .copyright {
      p {
        color: $text-color;
        font-family: $title-font;
        font-size: 14px;
        line-height: 26px;
      }
    }

    .socialMedia {
      margin-right: 5%;
      .icon {
        font-size: 10px;
        background: $logo-color;
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: $background-color;
        border-radius: 50%;
        text-decoration: none;

        &:hover {
          width: 35px;
          height: 35px;
          line-height: 35px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .root {
    .footerMenu {
      .menuWrapper {
        text-align: center;
      }

      .creditCards {
        text-align: center;
      }
    }
  }
}

@media (max-width: 575px) {
  .root {
    .bottomBar {
      .socialMedia {
        text-align: center !important;
      }
    }
  }
}
