@import '../../../styles/settings.scss';

.root {
  margin: auto;
  width: 70%;
  text-align: center;

  .title {
    font-family: $logo-font;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin: 40px 0 0 0;
    padding: 40px;
    color: $logo-color;
    background-color: $background-color;
    //border-bottom: $tab-color solid 1px;
  }

  .addForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;
    padding: 10px 0 0 0;
    margin-bottom: 40px;

    h4 {
      font-family: $title-font;
      font-size: 20px;
      color: $title-color;
      margin: 5px;
      margin-top: 20px;
      padding: 0;
      width: 70%;
      text-align: left;
      font-weight: lighter;
      border-bottom: $tab-color solid 1px;
    }

    .formInputMaterial {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      font-family: $title-font;
      color: $text-color;
      font-weight: 300;
      margin: 20px auto;
      width: 90%;
      align-items: flex-start;

      .material {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 85%;

        .inMaterial {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          margin: 0 8px;
          width: 18%;

          .radio {
            height: 18px;
          }
          .radioLabel {
            font-family: $title-font;
            font-size: 14px;
          }

          img {
            width: 15vh;
            height: 15vh;
          }
        }
      }
    }

    input {
      background-color: $background-color;
      border: none;
      height: 30px;
      outline: none;
      margin-left: 10px;
      font-family: $title-font;
      font-size: 20px;
      color: $text-color;
    }

    .formInput {
      margin-top: 10px;
      padding-left: 5px;
      text-align: left;
      border-bottom: $tab-color solid 1px;
      color: $text-color;
    }

    .icon {
      height: 20px;
      width: 20px;
    }

    .formInput {
      margin: 15px 0;
    }

    .person {
      margin-top: 50px;
      display: flex;
      width: 75%;
      flex-direction: column;

      .personName {
        display: flex;
        justify-content: space-between;

        .formInput {
          width: 48%;
        }
      }
    }

    .addres {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin-top: 40px;

      .street {
        display: flex;
        justify-content: space-between;

        .formInput {
          width: 48%;
        }
      }

      .city {
        display: flex;
        flex-direction: column;
      }
    }

    .button {
      font-family: $title-font;
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      background-color: $tab-color;
      border: none;
      color: $background-color;
      text-decoration: none;
      padding: 10px 20px;
      margin: 50px;

      &:hover {
        cursor: pointer;
        background-color: $logo-color;
      }
    }
  }
}
