@import '../../../styles/settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 98%;
  margin: 10px auto;

  .ad {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50vh;
    color: $text-color;
    margin: 40px 0;

    .picture {
      width: 100%;
      height: 20rem;
      &:hover {
        border: solid 3px $tab-color;
      }
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;

      .name {
        color: $text-color;
        font-family: $title-font;
        font-weight: 600;
        font-size: 20px;
        margin: 5px;
      }

      .price {
        font-size: 15px;
        font-family: $text-font;
        color: $text-color;
        font-weight: 300;
        margin: 5px;
      }
    }
  }
}
