@import '../../../styles/settings.scss';

@mixin mobile {
  @media (max-width: #{768px - 1px}) {
    @content;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

h3 {
  font-family: $title-font;
  color: $title-color;
  text-align: center;
  font-size: 30px;
}

p {
  font-family: $text-font;
  color: $text-color;
  font-size: 20px;
  text-align: justify;
}

.header {
  text-align: center;
  margin: auto;
  height: 60vh;

  .title {
    font-family: $logo-font;
    letter-spacing: 5px;
    font-size: 100px;
    margin: 50px;
    color: $title-color;

    @include mobile {
      font-size: 80px;
    }
  }

  .description {
    font-family: $title-font;
    font-size: 30px;
    width: 70%;
    margin: 0 auto 50px auto;
    color: $text-color;
    text-align: center;

    @include mobile {
      font-size: 20px;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

.mainPainting {
  margin: 60px auto;

  @include mobile {
    margin: 0 auto 20px auto;
  }

  img {
    width: 100%;
    height: 100vh;

    @include mobile {
      height: 50vh;
    }
  }
}

.about {
  width: 60%;
  margin: 200px auto;

  @include mobile {
    width: 80%;
    margin: 60px auto;

    h3 {
      font-size: 20px;
    }

    p{
      font-size: 15px;
    }
  }
}


.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px auto;

  .picture {
    width: 100%;
    height: 90vh;

    @include mobile {
      height: 50vh;
    }
  }
}

.authors {
  margin: 150px auto 50px auto;
}
