@import '../../../styles/settings.scss';

@mixin mobile {
  @media (max-width: #{768px - 1px}) {
    @content;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

.root {
  margin: auto;
  width: 60%;
  margin-top: 50px;
  border-top: $tab-color solid 1px;

  @include mobile {
    width: 98%;
  }
}

.empty {
  text-align: center;
  margin-bottom: 150px;
}

.cartProduct {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 5px 0 10px 0;
  margin: 5px auto;
  border-bottom:  $tab-color solid 1px;

  .delete {
    color: $tab-color;
    padding: 0 10px 0 5px;
    font-size: 40px;

    &:hover {
      color: $logo-color;
      cursor: pointer;
    }

    @include mobile {
      font-size: 40px;
    }
  }

  .picture {
    width: 10%;
    height: 10%;

    @include mobile {
      width: 20%;
      height: 20%;
    }
  }

  .description {
    padding: 5px 10px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .title, .price, .number {
      font-size: 15px;
      font-family: $text-font;
      color: $text-color;
      margin-left: 70px;
      padding-left: 5px;

      @include mobile {
       margin-left: 20px;
       padding-left: 0;
       font-size: 12px;
       text-align: center;
      }
    }
    .price {
      margin-right: 15%;
    }
  }
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $text-font;
  font-size: 15px;

  @include mobile {
    p {
      font-size: 14px;
    }
  }

  .order {
    background-color: $tab-color;
    border-radius: 5%;
    padding: 10px 30px;
    color: $main-color;
    text-decoration: none;

    @include mobile {
      padding: 5px 15px;
      font-size: 10px;
    }

    &:hover {
      cursor: pointer;
      background-color: $logo-color;
    }
  }
}
