@import '../../../styles/settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 50px;
  margin: 20px auto;

  .title {
    color: $title-color;
    font-family: $title-font;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin: 10px 0 50px 0;
  }

  .error {
    font-size: 150px;
    margin: 0;
    font-weight: lighter;
  }
}
