@import '../../../styles/settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0 0 0;
  margin: 5px auto 100px auto;

  .picture {
    width: 50%;
    height: 50%;
    margin: 20px;
  }

  .description {
    padding: 10px;
    padding-bottom: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: $title-color;
      font-family: $title-font;
      font-size: 30px;
      text-align: center;
      margin: 5px 0;
    }

    .about {
      margin: 20px 10px 10px 0;
      text-align: justify;
      width: 90%;
      font-size: 15px;
      font-family: $text-font;
      color: $text-color;
    }

    .back {
      color: $tab-color;
      text-decoration: none;
      font-size: large;
      width: 5%;
      align-self: flex-start;

      &:hover {
        color: $logo-color;
      }
    }
  }
}
