@import '../../../styles/settings.scss';

@mixin mobile {
  @media (max-width: #{768px - 1px}) {
    @content;
  }
}

  .appBar {
    background-color: $main-color;
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: none;

    @include mobile {
      justify-content: space-between;
    }

    .logo {
      width: 40%;

      @include mobile {
        width: 30%;
        img{
          width: 100px;
        }
      }
    }

    .tabs {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .button {
        font-size: 20px;
        font-weight: 500;
        font-family: $title-font;
        color: $title-color;
        padding-left: 5px;
        margin: 0 5px;
        text-decoration: none;
        border-left: $tab-color solid 2px;

        &:hover {
          color: $tab-color;
          border-left: $logo-color 2px solid;
        }
      }
    }

    .cart {
      font-size: 20px;
      color: $tab-color;
      margin: 0 5px 0 60px;

      @include mobile {
        margin: 0 5px 0 20px;
        padding: 0;
      }

      &:hover {
        color: $logo-color;
      }
    }

    .numberOfProducts {
      font-family: $title-font;
      color: $tab-color;

      @include mobile {
        margin-right: 10px;
      }
    }
  }

