@import '../../../styles/settings.scss';


  .appBar {
    background-color: $main-color;
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: none;

    .logo {
      width: 40%;
    }

    .tabs {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .button {
        font-size: 20px;
        font-weight: 500;
        font-family: $title-font;
        color: $title-color;
        padding-left: 5px;
        margin: 0 5px;
        text-decoration: none;
        border-left: $tab-color solid 2px;

        &:hover {
          color: $tab-color;
          border-left: $logo-color 2px solid;
        }
      }
    }

    .cart {
      font-size: 20px;
      color: $tab-color;
      margin: 0 40px 0 60px;

      &:hover {
        color: $logo-color;
      }
    }
  }

