@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather:wght@300&family=Rouge+Script&display=swap');

$logo-font: 'Rouge Script', cursive;
$title-font: 'Fira Sans', sans-serif;
$text-font: 'Merriweather', serif;

$main-color: #FFFF;
$background-color: #F3E2E4;
$logo-color: #251351;
$logo-background: #F8F2F1;
$tab-color: #95377C;
$text-color: #08124A;
$title-color: #040926;



$appBar-color: #003D1F;
$layout-color: #D5F2E3;
$dark-color: #01110A;

$button-color: #73BA9B;
$button-color-two: #BA2D0B;
