@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Fira+Sans&family=Merriweather:wght@300&display=swap');

$logo-font: 'Cinzel Decorative', cursive;
$title-font: 'Fira Sans', sans-serif;
$text-font: 'Merriweather', serif;

$main-color: #FFFF;
$background-color: #F3E2E4;
$logo-color: #251351;
$logo-background: #F8F2F1;
$tab-color: #95377C;
$text-color: #08124A;
$title-color: #040926;
